.box_content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.box_content div ._paper{
    padding: 10px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.box_content .side_left{ 
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 1;
}

.box_content .side_left ._paper{ 
    min-height: 320px;
}

.box_content .side_left ._form{ 
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.box_content .side_left .circular_progres{ 
    width: 17px !important;
    height: 17px !important;
}

.box_content .side_right{ 
    display: flex;
    gap: 20px;
    flex-direction: column;
    flex: 3;
}

.box_content .side_right ._paper{ 
    min-height: 324px;
}

.box_content .side_right h3{ 
    flex: 1;
}

.box_content .side_right p{ 
    flex: 2.5;
    text-align: center;
    padding: 0 30px;
    margin: 0;
}
